<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282510917269-71u8mpvfsvprss7i2sieel6i9berubvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282510917269-71u8mpvfsvprss7i2sieel6i9berubvl</string>
	<key>API_KEY</key>
	<string>AIzaSyBDH2L2_TM1wlKXvHFFH0R82r3_FKpo1d0</string>
	<key>GCM_SENDER_ID</key>
	<string>282510917269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.azealaHotel</string>
	<key>PROJECT_ID</key>
	<string>azeala-hotel</string>
	<key>STORAGE_BUCKET</key>
	<string>azeala-hotel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282510917269:ios:49cb66acc7545adc41e59c</string>
</dict>
</plist>